
body {
  background-color: #fff;
}

.rectangle {
  width: 20%;
  height: 70px;
  display: inline-block;
  background-color: #000066;
  margin: 10px;
}

.LOGO{
  width: 30%;
  height: 30%;
  display: block;
   margin: 0 auto;
}

.role{
  align-items: center;
  justify-content: center;
  display: flex; 
}

h1{
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 500;
}

