 /* Add some basic styling for the table */
 table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.add-sale-button {
    margin-top: 20px;
}

/* Example custom styles for pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  list-style-type: none;
}

.pagination a {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination .active a {
  background-color: #666;
  color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000066;
  color: #fff;

  width: 100%;
  z-index: 999; /* Add a higher z-index to ensure the navbar appears on top of other elements */
}
.navbar::after {
  content: "";
  display: table;
  clear: both;
}
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  float: right;
}
.navbar .back-button {
  font-size: 18px;
  float: left;
}

.add-button {
  position: absolute;
  bottom: 5px;
  right: 5%;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
}

.contain{
  
  justify-content: space-between;
}

h3 {
 
  margin-left: 5%;
}
.icon {
  font-size: 50px;
  margin-bottom: 5px;
  margin-right: 5%;
} 
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}