
    .category-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        overflow-y: hidden;
        HEIGHT: 70vh;
    }


    .category-item {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #ffffff;
        cursor: pointer;
        margin-bottom: 10px;
        flex-direction: column;
        

    }
    .category-image {
        width: 100px; /* Adjust the width as needed */
        height: 100px; /* Adjust the height as needed */
      
    }
    
    .category-title {
        
        align-items: center;
        font-weight: bold;
    }
.category-item.active {
    background-color: rgb(255, 252, 252);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.menu-container {
    display: flex;
    
}

.menu-items {
    flex-grow: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 20%;
  
}

.menu-item {
    
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    
    
}

.menu-item.active {
    background-color: #ccc;
}

.menu-item img {
    width: 125px;
    height: 100px;
  }
  
  .menu-item span {
    font-weight: bold;
    align-items: center;
  }

.ticket-container {
    flex-shrink: 0;
    width: 20%;
    height: 510px;
    position: fixed;
    right: 5px;
    padding: 10px;
    background-color: #ffff;
    border :1px solid #F0F0F0 ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    
}

.ticket-item {
    margin-bottom: 10px;
    
}
.ticket-items {
  overflow-y: auto;
  height: 72%;
}

.date {
  color: a7a2a2;
  position: fixed;
  top: 84px;
  right: 15px;
  font-size: 15px;
}

.navbar {
       
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000066;
    color: #fff;
   
    width: 100%;
    z-index: 999; /* Add a higher z-index to ensure the navbar appears on top of other elements */
  
}
.navbar::after {
content: "";
display: table;
clear: both;
}
.navbar .logo {
font-size: 24px;
font-weight: bold;
float: right;
}
.navbar .back-button {
font-size: 18px;
float: left;
}

.category-sidebar {
    width: 200px;
    padding: 10px;
    background-color: #f0f0f0;
    float: left;
    margin-right: 10px;
    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .more-categories-button {
    text-align: center;
    margin-top: 10px;
    }
    
    .more-categories-button button {
    background-color: #ffff;
    border: none;
    cursor: pointer;
    }
    
    .more-categories-button button:hover {
    background-color: #ffffff;
    }
    /* ---------------------------------------------------------------------------soukaina.s part--------------- */
    
      
    .tables {
      float: right;
  }
  
  .table {
      display: block;
  }
  
  .tr {
      display: block;
  }
  
  .td {
      display: inline-block;
      width: 25%; /* Adjust the width as needed */
  }
  
      
      
    /*------------------------ hanane.s part ------------------------*/
    .submit-button, .print-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        cursor: pointer;
        width: 40%;
        font-weight: bold;

    }
    
    .submit-button:hover, .print-button:hover {
        background-color: #45a049;
    }
    
    .clear-ticket {
        color: #999;
        text-decoration: none;
        margin-left: 10px;
        font-size: 14px;
    }
    
   
    .remove-button {
      position: absolute;
      right: 5px;
      background-color: #fff;
      color: red;
      border: none;
      font-weight: bold;
      font-size: 25px;
      cursor: pointer;
      margin-top: -5px;
      }
      
      
      
      .total-price {
        margin-top: 20px;
        text-align: right;
        position: fixed;
        bottom: 77px;
        right: 15px;
      }
      
      .total-price span:first-child {
        font-weight: bold;
      }
      
      .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        bottom: 3%;
        width:252px;
        position: fixed;

      }
      
      .button-container button {
        background-color: #000066;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
      
      .button-container button:first-child {
        background-color: #008000;
      }
      
      .button-container button:last-child {
        background-color: #ff4500;
      }
      
      .button-container button:not(:last-child) {
        margin-right: 10px;
      }
      
      .button-container button:hover {
        opacity: 0.8;
      }
      .ticket-id {
        margin-bottom: 10px;
      }
      
      .ticket-id span:first-child {
        font-weight: bold;
      }
      /*-------------------------------------------------------------------------*/
      /*----------- . pop up css . -----------------------------------------------*/
      #popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background-color: #f0F0F0;
        padding: 20px;
        border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        display: grid;
        
        grid-gap: 10px;
        justify-items: stretch;
        align-items: start;
      }
      
      .servers {
        width: 25%;
        margin-left: -19px;
        margin-top: -19px;
      }
      .tables {
        display: flex;
        width: 75%;
        flex-wrap: wrap;
      }
      .table-item {
        padding-right:10px;
        padding-bottom: 10px;
        
      }

      .server-item label input[type="radio"],
      .table-item label input[type="radio"] {
        display: none; /* Hide the default radio button */
      }

      .server-item label,
      .table-item label {
        display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        border: none;
        color: #ffcc00;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width:15vh;
        border: 1px solid #ccc;
        font-weight: bolder;
      }
      
      .table-item label.clicked {
        color: #ffffff;
        background-color: #ffcc00;
      }

      .server-item label.clicked {
        color: #ffffff;
        background-color: #ffcc00;
      }
      

      .server-item label input[type="radio"]:checked + span,
      .table-item label input[type="radio"]:checked + span {
        background-color: #ccc; /* Change background color when radio button is checked */
      }





      /* .server-item,
      .table-item {
        margin-bottom: 10px;
      } */
      
     
      .table-name {
        padding: 10px 20px;
        background-color: #eaeaea;
        border: none;
        border-radius: 4px;
        color: #333;
        cursor: pointer;
      }

      .table-name:hover {
        padding: 10px 20px;
        background-color: #d6d6d6;
        border: none;
        border-radius: 4px;
        color: #333;
        cursor: pointer;
      }
      
      .user-name {
        margin-top: 20px;
        justify-self: end;
        padding: 10px 20px;
        background-color: #ffcc00;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
      }

      .user-name:hover {
        margin-top: 20px;
        justify-self: end;
        padding: 10px 20px;
        background-color: #e4b700;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
      }
      
      .done {
        margin-top: 20px;
        justify-self: end;
        padding: 10px 20px;
        background-color: #000066;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
      }
      /* ____________________________________________________________________________________________________________ */
      .scroll{ 
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #f0f0f0;
        border: none;
        align-items: center;
      }
      #scrolldown {
        transform: rotate(180deg);
      }

    